[Unit]
Description=Sample Kafka producer

[Service]
EnvironmentFile=/etc/environment

## Directives with "=-" are allowed to fail without consequence.
ExecStartPre=-/usr/bin/docker kill APP_NAME
ExecStartPre=-/usr/bin/docker rm APP_NAME

ExecStartPre=/bin/sh -c "/usr/bin/docker build -t APP_NAME \ 
GIT_REPO"

ExecStart=/usr/bin/sh -c '/usr/bin/docker run --name APP_NAME \
	-e KAFKA_BROKER=$(/usr/bin/etcdctl get /services/kafka):9092 \
	APP_NAME'

ExecStop=/usr/bin/docker stop APP_NAME